.popup__error {
  display: block;
  position: relative;
  height: 24px;
  width: 358px;
  padding: 0;
  margin: 5px 0;
  border: none;
  text-align: left;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14.52px;
  color: #FF0000;
}

@media screen and (max-width: 661px) {
  .popup__error {
    width: calc(80% - 20px);
  }
}