@import url('./__grid/gallery__grid.css');

.gallery {
  margin: 47.25px auto 0;
  padding: 0;
}


/* ------------------------------------
 Media Query to incorporate left-right
 padding for mobile devices.
------------------------------------ */


/* Medium Smartphone to Tablet Landscape */
@media screen and (max-width: 960px) {
  .gallery {
    padding: 0 2%;
  }
}

/* Extra-small Mobile to Medium Smartphone */
@media screen and (max-width: 661px) {
  .gallery {
    margin: 36px auto;
    padding: 0 6%;
  }
}