@import url('./__about-me/profile__about-me.css');
@import url('./__container/profile__container.css');
@import url('./__avatar/profile__avatar.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__name/profile__name.css');
@import url('./__post-button/profile__post-button.css');

.profile {
  max-width: 882px; 
  display: flex; 
  margin: 0 auto; 
  justify-content: space-between;
  padding-top: 36.25px; 
}


/* -----------------------------------
 Media Query to adjust the size and 
 spacing of the overall profile block
----------------------------------- */


/* Extra-small Mobile Devices to Tablet Landscape */
@media only screen and (max-width: 960px){
  .profile {
    flex-direction: column; 
    justify-content: center; 
    max-width: 620px; 
    height: auto; 
  }
}