.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
  fill: #FFF;
}


/* ---------------------------
 Media Queries to adjust the
 placement of the Header Logo
--------------------------- */


/* Medium Smart Phones to Tablet Portrait */
@media screen and (max-width: 960px) {
  .header__logo {
    padding-left: 60px;
  }
}

/* Extra-small Mobile Dvices to Medium Smart Phones */
@media screen and (max-width: 720px) {
  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
    padding-bottom: 32px;
  }
}