.card__like-button {
  width: 20.76px;
  height: 18.13px;
  margin: 0;
  padding: 0;
  background-image: url('../../../images/likeIcon.svg');
  background-color: transparent;
  border: 0;
}

.card__like-button:hover {
  opacity: .6;
  transition: all ease 0.2s;
  cursor: pointer;
}