.gallery__grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 21px 18px;
}


/* -------------------------------------
 Media Queries to Adjust the Grid-Gap on 
 Medium-Sized Smartphones and Smaller
------------------------------------- */


/* Extra-small Mobile Device to Medium Smartphones */
@media screen and (max-width: 661) {
  .gallery__grid {
    grid-gap: 22px 4px;
    padding: 0;
  }
}