.popup__close-button {
  height: 40.7px;
  width: 40.7px;
  position: absolute;
  top: -40.7px;
  right: -40.7px;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-image: url('../../../images/closeIcon.svg');
  box-sizing: border-box; 
  padding: 0;
  outline: none;
  transition: visibility 1s, opacity 1s ease-in-out;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}