.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}


/* ---------------------------------------
 Media Query to adjust the position of the 
 Avatar/Profile Image on mobile devices
--------------------------------------- */


/* Extra-small Mobile Dvices to Medium Smart Phones */
@media screen and (max-width: 720px) {
  .profile__avatar {
    align-self: center;
    padding-bottom: 10.25px;
  }
}