.card__details {
  width: 282px;
  margin: 0;
  padding: 0 15px 0px 21px;
  border-radius: 0px 0px 10px 10px;
  background-color: #ffffff;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}