.card__details {
  width: 282px;
  height: 79px;
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 21px;
  margin: 0;
}